.nav-container {
  width: 125px;
  height: 100vh;
  position: fixed;
  display: flex;
  background-image: linear-gradient(
    99deg,
    #ff70a6,
    #ff9770 40%,
    #ffd670 73%,
    #e9ff70
  );
  flex-direction: column;
  justify-content: space-evenly;
  display: block;
  top: 0;
  left: 0;
  padding: 15px;
  color: #fff;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.1), 5px 0 5px rgba(0, 0, 0, 0.2);
  .nav-profile-container {
    height: 110px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQEK5TuKQzvWsA/profile-displayphoto-shrink_200_200/0?e=1604534400&v=beta&t=p4NQNXcBRPlgM-qm2rOYXny7UFgM_7l0bLIetFxd1ww);
    background-size: cover;
    border-radius: 40px;
  }
  .nav-links {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    height: 60px;
    width: 60px;
    margin: 20px;
  }
  .logout {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
  }
}
